.worktrees/
__pycache__/
*.py[cod]
.python-version
.pytest_cache/
.hypothesis/
.pyre/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.eggs/
*.egg-info/
build/
dist/
site/
pip-wheel-metadata/
.venv/
venv/
env/
ENV/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.tmp/